:root {
    --base-width: 300px;
    --base-height: 200px;
}

body {
    background-color: steelblue;
    text-align: center;
}

.pokemon-card {
    background-color: gray;
    width: var(--base-width);
    height: var(--base-height);

    border: 3px solid black;
    border-radius: 25px;
    color: white;

    margin: 5px;

    text-align: left;
    text-decoration: none;
    display: inline-block;
}

.card-title {
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 5px;
    transition: 1s;
}

.card-body {
    width: var(--base-width);
    text-align: center;
    display: inline-flex;
}

.card-image {
    width: 40%;
    margin: 10px;
    border-right: 3px solid darkgray;
}

.card-button {
    background-color: lightslategray;
    width: 60%;
    text-align: center;
    border-radius: 15px;
    margin: 10px;

    font-size: 18px;
    transition: 0.5s;

    border-top: 2px solid lightgray;
    border-right: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    border-left: 2px solid lightgray;
}

.card-button:hover {
    background-color: slategrey;
    border-top: 2px solid darkgray;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    border-left: 2px solid darkgray;
}
